*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left, rgba(95, 43, 13, 0.65), rgba(212, 124, 74, 0.65)),
                    url("/img/Site\ petshop\ Clinica\ .png");
    background-size: cover;
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/*Topo da página*/
#ent_cad{
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: end;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: solid 2px white;
    border-radius: 20px;
    height: 2.2rem;
    width: 20rem;
    overflow: hidden; /* corta o fundo verde nas pontas */
}

.ent {
    flex: 1;          /* Faz o botão ocupar metade do espaço */
    height: 100%;     /* Ocupa a altura toda da barra */
    display: flex;   
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background: white;
    transition: 0.3s; 
}

.ent:hover {
    background: rgb(222, 228, 222);  
}


/* Foto da logo */
#photo{
    display: flex;
    justify-content: center;
    height: 16vh;

}


/* Email e senha */
#pren{
    display: flex;
    flex-direction: column;
    height: 64vh;
    
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.em{
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 5px;
    height: 2.7rem;
    width: 23rem;
}

#senha{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
